---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Linux
BreakConstructorInitializersBeforeComma: true
BreakStringLiterals: false
ColumnLimit: 100
IndentWidth: 4
ObjCSpaceAfterProperty: true
PointerAlignment: Left
TabWidth: 8
UseTab: Never
...
