# Default reviewer set
*                   @vixentael @Lagovas
/src/soter/         @vixentael @Lagovas @ilammy @G1gg1L3s
/src/themis/        @vixentael @Lagovas @ilammy @G1gg1L3s

# Build system
Makefile            @vixentael @ilammy @shadinua
*.mk                @vixentael @ilammy @shadinua
*.sh                @vixentael @ilammy @shadinua

# rust-themis
Cargo.toml          @vixentael @ilammy @iamnotacake @G1gg1L3s
*.rs                @vixentael @ilammy @iamnotacake @G1gg1L3s

# Land of the Fruit
/docs/examples/objc         @vixentael @julepka
/docs/examples/swift        @vixentael @julepka
/src/wrappers/themis/Obj-C  @vixentael @julepka
/tests/objcthemis           @vixentael @julepka
*.podspec                   @vixentael @julepka
*.xcodeproj                 @vixentael @julepka
*.xcworkspace               @vixentael @julepka
Cartfile*                   @vixentael @julepka
Package.swift               @vixentael @julepka
Podfile*                    @vixentael @julepka

/docs/reference-implementation  @vixentael @Lagovas @ilammy @G1gg1L3s
/tests/reference-implementation @vixentael @Lagovas @ilammy @G1gg1L3s
